* {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}
i{
          color: brown;
}
span{
          color: red;
}
#pet{
          width: 80%;
          height: 60%;
}
.card{
          width: 50%;

}
img{
          height: 50%;
}